<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <servlet>
        <servlet-name>DrWayRegistration</servlet-name>
        <servlet-class>drway.server.servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayUpdateFuelCosts</servlet-name>
        <servlet-class>drway.server.servlets.UpdateFuelCosts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayPossibleRoutes</servlet-name>
        <servlet-class>drway.server.servlets.PossibleRoutes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayFavoriteRoutes</servlet-name>
        <servlet-class>drway.server.servlets.FavouriteRoadsStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayRegistrationTest</servlet-name>
        <servlet-class>drway.server.testing.RegistrationTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayMobileVerificationTest</servlet-name>
        <servlet-class>drway.server.testing.MobileVerificationTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayUpdateUser</servlet-name>
        <servlet-class>drway.server.servlets.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayUpdateCarList</servlet-name>
        <servlet-class>drway.server.servlets.UpdateCarList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayResendVerificationCode</servlet-name>
        <servlet-class>drway.server.servlets.ResendVerificationCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayUpdateMainPoints</servlet-name>
        <servlet-class>drway.server.servlets.UpdateMainPoints</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayUpdateRoadStatus</servlet-name>
        <servlet-class>drway.server.servlets.UpdateRoadStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayGetUserPosition</servlet-name>
        <servlet-class>drway.server.servlets.GetUserPosition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayGetUserPosition1</servlet-name>
        <servlet-class>drway.server.servlets.GetUserPosition1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayTestApis</servlet-name>
        <servlet-class>drway.server.testing.TestApis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayVerifyUser</servlet-name>
        <servlet-class>drway.server.servlets.VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayGetWinner</servlet-name>
        <servlet-class>drway.server.servlets.GetWinner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayUpdateReportType</servlet-name>
        <servlet-class>drway.server.servlets.UpdateReportType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrWayReportRoad</servlet-name>
        <servlet-class>drway.server.servlets.ReportRoad</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ServiceLayerGetPossibleRoutes</servlet-name>
        <servlet-class>servicelayer.server.servlets.GetPossibleRoutes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceLayerUpdateMainPoints</servlet-name>
        <servlet-class>servicelayer.server.servlets.UpdateMainPoints</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceLayerUpdateRoadStatus</servlet-name>
        <servlet-class>servicelayer.server.servlets.UpdateRoadStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceLayerGetRoadByPosition</servlet-name>
        <servlet-class>servicelayer.server.servlets.GetRoadByPosition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    
    
    <servlet-mapping>
        <servlet-name>DrWayRegistration</servlet-name>
        <url-pattern>/DrWay/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayUpdateFuelCosts</servlet-name>
        <url-pattern>/DrWay/UpdateFuelCosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayPossibleRoutes</servlet-name>
        <url-pattern>/DrWay/PossibleRoutes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayFavoriteRoutes</servlet-name>
        <url-pattern>/DrWay/FavoriteRoutes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayRegistrationTest</servlet-name>
        <url-pattern>/DrWay/RegistrationTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayMobileVerificationTest</servlet-name>
        <url-pattern>/DrWay/MobileVerificationTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayUpdateCarList</servlet-name>
        <url-pattern>/DrWay/UpdateCarList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayUpdateUser</servlet-name>
        <url-pattern>/DrWay/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayResendVerificationCode</servlet-name>
        <url-pattern>/DrWay/ResendVerificationCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayUpdateMainPoints</servlet-name>
        <url-pattern>/DrWay/UpdateMainPoints</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayUpdateRoadStatus</servlet-name>
        <url-pattern>/DrWay/UpdateRoadStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayGetUserPosition</servlet-name>
        <url-pattern>/DrWay/GetUserPosition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayTestApis</servlet-name>
        <url-pattern>/DrWay/TestApis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayVerifyUser</servlet-name>
        <url-pattern>/DrWay/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayGetWinner</servlet-name>
        <url-pattern>/DrWay/GetWinner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayUpdateReportType</servlet-name>
        <url-pattern>/DrWay/UpdateReportType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrWayReportRoad</servlet-name>
        <url-pattern>/DrWay/ReportRoad</url-pattern>
    </servlet-mapping>
    
    <!-- Service Layer Servlets -->
    <servlet-mapping>
        <servlet-name>ServiceLayerGetPossibleRoutes</servlet-name>
        <url-pattern>/ServiceLayer/GetPossibleRoutes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceLayerUpdateMainPoints</servlet-name>
        <url-pattern>/ServiceLayer/UpdateMainPoints</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceLayerUpdateRoadStatus</servlet-name>
        <url-pattern>/ServiceLayer/UpdateRoadStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceLayerGetRoadByPosition</servlet-name>
        <url-pattern>/ServiceLayer/GetRoadByPosition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
